<h1> Welcome friends! </h1>
<form action="/greetings" method="post">
<label for="name">
    Enter your name!
<input type="text" name="name">
 </label>
 </p>
 <label for="birthday">
    Enter your birthday!
<input type="text" name="birthday">
 </label>
<input type="submit" value="Submit">
</form>