<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/styles.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>

<div class="center-form">
<h1> Welcome friends! </h1>

<h2>
<%= flash[:notice] %>
</h2>

<h2> Let's see how many days it is until your birthday...or do we get to celebrate today? </h2>
<h1>   </h1>

<form action="/greetings" method="post">
<label for="name">
    Enter your name
<input type="text" name="name">
 </label>
 </p>
 <label for="birthday">

    Enter your birthday
<input type="text" name="birthday" placeholder="dd/mm/yyyy">
 </label>
<input type="submit" value="Submit">
</form>
</div>

</body>
</html>